<div *ngIf="movie && comments">
  <h1>{{ movie.title }}</h1>

  <div>
    <p>Genre: {{ movie.description }}</p>
    <p>Release year: {{ movie.releaseYear }}</p>
    <p>Director: {{ movie.realisator.firstName }} {{ movie.realisator.lastName }}</p>
    <p>Writer: {{ movie.realisator.firstName }} {{ movie.realisator.lastName }}</p>
  </div>

  <div>
    <h2>Casting</h2>
    <div *ngFor="let actor of movie.actors">
      <p>{{ actor.role }}: <a [routerLink]="['../../person/' +actor.id]">{{ actor.lastName }} {{ actor.firstName }}</a></p>
    </div>
  </div>

  <div>
    <h2>Reviews</h2>
    <!-- Display 'add a comment' if Auth -->
    <div *ngIf="isAuth()">
      <div>
        <p-panel header="Add a Review" [toggleable]="true" [collapsed]="true" [transitionOptions]="'200ms'">
          <!-- Comment Form -->
          <form [formGroup]="commentForm" (ngSubmit)="postComment()">
            <p-editor formControlName="content" [style]="{'height':'320px'}">
              <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
              </ng-template>
            </p-editor>
            <p-button type="submit">Submit</p-button>
          </form>
        </p-panel>
      </div>
    </div>
    <!-- Display comments -->
    <div *ngFor="let comment of comments">
      <p-panel>
        <ng-template pTemplate="body">
          {{ comment.content }}
        </ng-template>
        <ng-template pTemplate="footer">
          {{ comment.postDate | date: "dd/MM/yyyy" }}
        </ng-template>
     </p-panel>
    </div>

  </div>
</div>
