<div *ngIf="currentMovie && comments">
  <h1>{{ currentMovie.title }}</h1>

  <div class="title-card" [style]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <h2>Movie</h2>
  </div>

  <div class="grid">
    <div class="col-4">
      <div>
        <p><b>Genre</b>: {{ currentMovie.description }}</p>
        <p><b>Release year</b>: {{ currentMovie.releaseYear }}</p>
        <p><b>Director</b>: {{ currentMovie.realisator.firstName }} {{ currentMovie.realisator.lastName }}</p>
        <p><b>Writer</b>: {{ currentMovie.realisator.firstName }} {{ currentMovie.realisator.lastName }}</p>
      </div>
    </div>

    <div class="col-8">
      <div class="flex flex-wrap justify-content-around flex-wrap">
        <div *ngFor="let actor of currentMovie.actors">
          <p-card [style]="{'background-color': 'var(--surface-100)', 'min-width': '200px'}">
            <div>
              <p>
                <b>Role</b> : {{ actor.role }}
              </p>
              <p>
                <b>Actor</b> : <a [routerLink]="['../../person/' +actor.id]">{{ actor.lastName }} {{ actor.firstName }}</a>
              </p>
            </div>
          </p-card>
        </div>
      </div>
    </div>
  </div>


  <div>
    <div class="title-card" [style]="{'margin-top': '30px', 'margin-bottom': '30px'}">
      <h2>Reviews</h2>
    </div>

    <!-- Display comments -->
    <div *ngFor="let comment of comments">

      <p-panel [style]="{'margin-bottom': '15px'}">
        <ng-template pTemplate="body">
          <div [innerHTML]="comment.content">
            {{ comment.content }}
          </div>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex justify-content-between align-items-center">
            <span class="text-xs">
              {{ comment.postDate | date: "dd/MM/yyyy" }}
            </span>
            <button *ngIf="isAdmin"  [ngStyle]="{'color':'var(--pink-400)'}" (click)="deleteComment(comment.id)" pButton type="button" label="Delete" icon="pi pi-trash" iconPos="right" class="p-button-text p-button-sm"></button>
          </div>
        </ng-template>
     </p-panel>
    </div>

    <!-- Display 'add a comment' if Auth -->
    <div *ngIf="isAuth()">
      <p-divider [style]="{'margin-top': '30px'}"></p-divider>
      <h4>Add a review</h4>
      <div>
        <!-- <p-panel header="Add a Review" [toggleable]="true" [collapsed]="true" [transitionOptions]="'200ms'"> -->
          <form [formGroup]="commentForm" (ngSubmit)="postComment()">
            <p-editor formControlName="content" [style]="{'height':'150px'}">
              <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                </span>
              </ng-template>
            </p-editor>
            <p-button type="submit"[style]="{'margin-top': '10px'}">Submit</p-button>
          </form>
        <!-- </p-panel> -->
      </div>
    </div>
  </div>
</div>
