<h1>Movie list</h1>
<p-table styleClass="p-datatable-sm p-datatable-striped" [value]="movies">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="releaseYear">Year<p-sortIcon field="releaseYear"></p-sortIcon></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-movie>
    <tr>
      <td>{{ movie.title }}</td>
      <td>{{ movie.releaseYear }}</td>
      <td>
        <button [ngClass]="isAuth() ? 'btn-base btn-prime' : 'btn-base btn-prime-disabled'"
                [routerLink]="['/movies/'+movie.id]"
                [disabled]="!isAuth()">
          Détails
        </button>
        <button [ngStyle]="{'background-color' : 'var(--pink-400)'}" class="btn-base btn-prime" *ngIf="isAdmin()" (click)="deleteMovie(movie.id)"> x </button>
      </td>
    </tr>
  </ng-template>
</p-table>
