<h1>{{ currentPerson.firstName }} {{ currentPerson.lastName }}</h1>

<div *ngIf="currentPerson.realMovies.length">
  <h2>Director</h2>
  <div *ngFor="let movie of currentPerson.realMovies">
    <p>
      <a [routerLink]="['../../movies' + movie.id ]">{{ movie.title }}</a> : ({{ movie.releaseYear }})
    </p>
  </div>
</div>

<div *ngIf="currentPerson.scenMovies.length">
  <h2>Writer</h2>
  <div *ngFor="let movie of currentPerson.scenMovies">
    <p>
      <a [routerLink]="['../../movies' +movie.id]">{{ movie.title }}</a> : ({{ movie.releaseYear }})
    </p>
  </div>
</div>

<div *ngIf="currentPerson.actAs.length">
  <h2>Actor</h2>
  <div *ngFor="let movie of currentPerson.actAs">

    <p>
      <a [routerLink]="['../../movies/' +movie.movieID]">{{ movie.movieTitle }}</a> : {{ movie.role }}
    </p>
  </div>
</div>


<!-- <p-card header="{{ toCapitalize(movie.title) }}" subheader="Card Subheader" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">

  </ng-template>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
  </p>
</p-card> -->
