/* You can add global styles to this file, and also import other style files */
// body {
//   padding: 2rem;
// }
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');
@import 'primeflex/primeflex.scss';

body {
  font-family: 'Roboto Flex', sans-serif;
  padding: 10px;
}

.main {
  width: 960px;
  margin: 0 auto;
}

.title-card {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  border-radius: 4px;
}

.review-footer {
  margin-top: -10px;
  margin-bottom: -25px;
}

.mybtn {
  @include styleclass('bg-bluegray-700 text-white hover:bg-blue-600 border-round transition-colors transition-duration-150 p-1 border-none');
}
.mybtn2 {
  background-color: var(--pink-500);
}

.btn-base {
  border: none;
  border-radius: 4px;
  margin-left: 4px;
  margin-right: 4px;
}

.btn-prime {
  background-color: black;
  color: whitesmoke;
}

.btn-prime-disabled{
  background-color: lightgray;
  color: black;
}

.btn-prime:hover {
  background-color: gray;
}

.card-metric {
  margin:10px;
}
.metric {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

.adminMenu {
  position: absolute;
  left: 20px;
  top: 105px;
}




.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
